Windows Platform/LecznaHub.WindowsPhone/SampleData/SampleStations/SampleStations.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.SampleStations" targetNamespace="Blend.SampleData.SampleStations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleStations" type="tns:SampleStations" />
  <xs:complexType name="SampleStations">
    <xs:sequence>
      <xs:element name="Stations" type="tns:Stations" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Stations">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="StationsItem" type="tns:StationsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationsItem">
    <xs:sequence>
      <xs:element name="Items" type="tns:ItemCollection" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="City" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="Property1" type="xs:string" />
    <xs:attribute name="Property2" type="xs:string" />
    <xs:attribute name="Property3" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>