Windows Platform/LecznaHub.WindowsPhone/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.SampleDataSource" targetNamespace="Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Stations" type="tns:Stations" />
      <xs:element name="Cities" type="tns:Cities" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Stations">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="StationsItem" type="tns:StationsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationsItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="City" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Cities">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CitiesItem" type="tns:CitiesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CitiesItem">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>